
<div class="container"> 
  <% if user_signed_in? %>
    <h1>Ton profil</h1>
    <ul>  
      <li> Nom : <%= current_user.first_name  %></li>
      <li> prénom : <%= current_user.last_name  %></li>
      <li> Ta description : <%= current_user.description %></li>
      <li> Voici ton email : <%= current_user.email %></li> 
    </ul>      
    <h3> Voici la liste des events dont tu est administrateur :</h3>
        <% @user_events.each do |event| %>
          <h4><%= event.title %></h4>
          <p>Description : <%= event.description %></p>
          <p>Date de début : <%= event.start_date %></p>
          <p>Durée : <%= event.duration %></p>
          <p>Prix : <%= event.price %></p>
          <p>Lieu : <%= event.location %></p>
        <% end %>     
    
      <p><%= link_to "Edit email / password", edit_user_registration_path %></p>
      <p><%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>      

  <% else %>
      
      <p><%= link_to "Sign in", new_user_session_path %></p>   
      <p><%= link_to "Sign up", new_user_registration_path %></p>      

  <% end %>
</div>